<ion-view view-title="Sobre">
  <ion-content class="sobre">
  <h2 class="positive">Sobre mim</h2>
  <div class="card">
    <div class="item item-text-wrap">
      Basta querer mudar o mundo através da web.
    </div>
  </div>
  <p>Meu nome é Rodrigo Alves Mesquita, nasci em São Luis - MA</p>
  <p>Sou um Webdeveloper amante da Tecnologia que gosta de apreder novas formas de programar. Eterno aluno de C e PHP, tento me esforçar para ser um bom artista da web.</p>
  <h2 class="positive">Habilidades</h2>
  <ul class="list">
    <li class="item">HTML5</li>
    <li class="item">Design Responsivo (Mobile First)</li>
    <li class="item">CSS (Sass, Less)</li>
    <li class="item">Css Frameworks (Bootstrap)</li>
    <li class="item">Javascript (Jquery)</li>
    <li class="item">Git</li>
    <li class="item">PHP</li>
    <li class="item">MySQL - PostgreSQL</li>
    <li class="item">Apps Android (Ionic)</li>
  </ul>
  </ion-content>
</ion-view>
